@model IEnumerable<DoctorViewModel>
@{
    ViewData["Title"] = "Index";
}
@if (TempData["Message"] is not null)
{
    <div id="myDiv">
        <div class="alert alert-success d-flex justify-content-between align-items-center">
            <div>@TempData["Message"]</div>
            <div><button onclick="Change()" id="btn" class="btn"><i class="fa-solid fa-xmark"></i></button></div>
        </div>
    </div>
}  
<h1>All Doctors</h1>
<br />
<br />
<a asp-controller="Doctor" asp-action="Create" class="btn btn-primary">Create New Doctor</a>
<br />

@if (Model.Count() == 0)
{
    <div class="mt-4 alert alert-warning">
        <h3>There is No Doctors :(</h3>
    </div>
}
else
{
    <table class="table table-striped table-hover mt-5">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(_ => _.FullName)</th>
                <th>@Html.DisplayNameFor(_ => _.Gender)</th>
                <th>Clinic Name</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Doctor in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(M => Doctor.FullName)</td>
                    <td>@Html.DisplayFor(M => Doctor.Gender)</td>
                    <td>@Html.DisplayFor(M => Doctor.Clinic.Name)</td>

                    <partial name="_ButtonsPartial" model="@Doctor.Id"></partial>

                </tr>
            }
        </tbody>
    </table>
}